/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
public\upload
public/upload/1647667232_php.jpg
public/upload/1647667367_php.jpg
public/upload/1647667649_php.jpg
public/upload/1647667974_php.jpg
public/upload/1647668074_php.jpg
public/upload/1647668127_php.jpg
public/upload/1647668190_php.jpg
public/upload/1647668914_php.jpg
public/upload/1647668939_php.jpg
public/upload/1647672532_python.jpg
public/upload/1647672694_python.jpg
